<?xml version="1.0" ?>
<settings version="1">
    <section id="script.jellyfin-fixer">
        <category id="clear_ratings" label="32010" help="">
            <group id="20" label="32010">
                <setting id="clear_tv_ratings" type="boolean" label="32011" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="notifications" label="32015" help="">
            <group id="30" label="32015">
                <setting id="notify_sync_complete" type="boolean" label="32016" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
