<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="username"  type="text" label="30100" default="" />
	<setting id="password"  type="text" option="hidden" label="30101" default=""  />
	<setting type="sep" />
	<setting id="thumb_size" type="enum" label="30200" default="2" values="1|2|3|4|5|6" />
	<setting id="image_size" type="enum" label="30201" default="5" values="1|2|3|4|5|6" />
</settings>