<settings>
   <category label="19900">
	   <setting id="autoservername" label="19901" type="action" action="RunScript($ID,ServerDiscovery)" default="" enable="!eq( 2,true)"/>
     <setting id="NOTE1" type="text" label="19916" default="" enable="false" />
     <setting id="serverManual" type="bool" label="19902" default="false"/>
     <setting id="serverIP" type="text" label="19903" default="" enable="!eq( -1,false)" />
     <setting id="serverPort" type="text" label="19904" default="9090" enable="!eq( -2,false)" />
     <setting id="serverHTTPPort" type="text" label="19905" default="9000" enable="!eq( -3,false)" />
     <setting id="serverUser" type="text" label="19919" default="" enable="!eq( -4,false)" />
     <setting id="serverPass" type="text" label="19920" default="" enable="!eq( -5,false)" />
   </category>
   <category label="Local Playback">
     <setting id="controlSlave" type="bool" label="19906" default="true"/>
     <setting id="slaveMAC" type="text" label="19907" default="00:00:00:00:00:01"/>
     <setting id="slaveArgs" type="text" label="19908" default="" enable="!eq( -2,false)" />
	   <setting id="audioOutput" label="19910" type="action" action="RunScript($ID,AudioOutputs)" default="Auto" enable="!eq( -3,false)"/>
     <setting id="NOTE2" type="text" label="19917" default="" enable="false" />
     <setting id="NOTE3" type="text" label="19918" default="" enable="false" />
   </category>
   <category label="Controller Only">
     <setting id="controllerOnly" type="bool" label="19911" default="false" enable="!eq( -5,false)"/>
     <setting id="controllerMAC" type="text" label="19912" default="" enable="!eq( -1,false)"/>
   </category>
   <category label="Other Settings">
     <setting id="enableTouch" type="bool" label="19922" default="false"/>
     <setting id="sendPlayOnStart" type="bool" label="19921" default="true"/>
     <!--<setting id="disableScreensaver" type="bool" label="19914" default="false"/>-->
     <!--<setting id="NOTE3" type="text" label="19915" default="" enable="false" />-->
   </category>
</settings>
